<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <h3>Your Favorites:</h3>

    {{#if favorites.length}}
      <ul class="list-group">
        {{#each favorites}}
          <li class="list-group-item">{{this}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>You have no favorites yet.</p>
    {{/if}}
  </div>
</div>

<script src="./js/profile.js"></script>
